<a href="https://colab.research.google.com/github/Atarazona11/INST-414/blob/main/international_vb_players.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

import warnings
warnings.filterwarnings("ignore")

sns.set_theme(style='darkgrid')

In [17]:
from google.colab import files
uploaded = files.upload()

Saving clean_data.csv to clean_data.csv

In [18]:
df = pd.read_csv('clean_data.csv')

df.head()

,index,name,date_of_birth,height,weight,spike,block,position_number,country
0,0,Angelina Lazarenko,13/04/1998,193,80,320,305,3,23
1,1,Svetlana Serbina,15/05/1996,182,71,295,284,1,23
2,2,Ekaterina Shkurikhina,17/06/1996,190,72,306,296,2,23
3,3,Kristina Kurnosova,17/06/1997,176,62,288,278,6,23
4,4,Ekaterina Novikova,07/12/1996,181,70,290,275,1,23

In [33]:
df = df.sort_values(by='name').reset_index(drop=True)
df.head()

,index,name,date_of_birth,height,weight,spike,block,position_number,country
0,424,Ada Germen,24/06/1997,182,62,285,283,2,26
1,136,Ada Germen,24/06/1997,182,62,285,283,2,26
2,280,Ada Germen,24/06/1997,182,62,285,283,2,26
3,218,Aidachi Attilah Aguero Aguilera,19/03/1999,177,69,304,295,2,31
4,74,Aidachi Attilah Aguero Aguilera,19/03/1999,177,69,304,295,2,31

In [34]:
df.iloc[38]

index                       116
name               Angela Leyva
date_of_birth        22/11/1996
height                      184
weight                       70
spike                       312
block                       291
position_number               2
country                      30
Name: 38, dtype: object

In [35]:
df = pd.read_csv('clean_data.csv')

df = df.sort_values(by='name').reset_index(drop=True)

player_info = df._get_numeric_data()


player_info

     index  height  weight  spike  block  position_number  country
0      424     182      62    285    283                2       26
1      136     182      62    285    283                2       26
2      280     182      62    285    283                2       26
3      218     177      69    304    295                2       31
4       74     177      69    304    295                2       31
..     ...     ...     ...    ...    ...              ...      ...
427    334     170      56    271    255                6        9
428    190     170      56    271    255                6        9
429     86     180      62    298    290                6        5
430    374     180      62    298    290                6        5
431    230     180      62    298    290                6        5

[432 rows x 7 columns]

In [36]:
df.iloc[38]

index                       116
name               Angela Leyva
date_of_birth        22/11/1996
height                      184
weight                       70
spike                       312
block                       291
position_number               2
country                      30
Name: 38, dtype: object

In [37]:
leyva_info = [player_info.iloc[38]]
print(leyva_info)

[index              116
height             184
weight              70
spike              312
block              291
position_number      2
country             30
Name: 38, dtype: int64]

In [38]:
from sklearn.metrics import pairwise_distances

similarity_score = pairwise_distances(leyva_info, player_info)

In [ ]:
player_name = df["name"].to_list()

similarity_list = similarity_score.tolist()


flat_similarity_list = []
for sublist in similarity_list :
  for item in sublist:
   flat_similarity_list.append(item)
flat_similarity_list

In [40]:
player_name = df["name"].to_list()

In [41]:
dictionary = dict(zip(player_name, flat_similarity_list))
print(dictionary)

{'Ada Germen': 166.652332716947, 'Aidachi Attilah Aguero Aguilera': 246.26611622389305, 'Ailama Cese Montalvo': 44.654227123532216, 'Aleksandra Cirovic': 84.85870609430714, 'Aleksandra Tadic': 79.32212806020776, 'Alessia Orro': 163.32482971061074, 'Alondra Amaro Rodriguez': 249.47544969395284, 'Anaila Martinez Chaviano': 41.50903516103452, 'Anastasia Guerra': 303.0610499552854, 'Anastasiia Barchuk': 179.58006570886425, 'Anastasiia Cheremisina': 39.395431207184416, 'Anet Alfonso Benitez': 278.854800926934, 'Angela Leyva': 0.0, 'Angelina Lazarenko': 118.09741741460734, 'Angelina Sperskaite': 35.91656999213594, 'Anna Danesi': 49.77951385861457, 'Anna Koike': 218.36437438373505, 'Anna Lazareva': 39.45883931389772, 'Anna Nicoletti': 302.9966996519929, 'Arelya Karasoy': 172.28174598604463, 'Ariane Pinto': 52.80151512977634, 'Ayca Aykac': 42.941821107167776, 'Beatrice Berti': 28.948229652260256, 'Bojana Milenkovic': 227.81352023091168, 'Cansu Ozbay': 33.36165463522455, 'Carlotta Cambi': 150.3096803269836, 'Carmela Massip Mursuli': 253.2271707380549, 'Cemre Janset Erkul': 28.809720581775867, 'Chiara De Bortoli': 156.2401996926527, 'Claudia Hernandez Aguila': 270.69540077363706, 'Coraima Gomez': 14.628738838327793, 'Cristina Cuba': 37.3496987939662, 'Dalila Palma Rodriguez': 244.47085715888508, 'Dayana Rojas': 228.89735690916137, 'Diana De La Peña': 137.64446955835166, 'Diaris De La Caridad Perez Ramos': 248.22167512125125, 'Drussyla Costa': 106.38608931622592, 'Ekaterina Novikova': 178.25543469975887, 'Ekaterina Shkurikhina': 114.65600725648875, 'Elisa Zanette': 29.393876913398138, 'Elitsa Barakova': 211.72623833620622, 'Fernanda Bañuelos': 239.50574105853914, 'Gabriela Candido Da Silva': 189.9210362229524, 'Gabriela Silva': 102.89314845994363, 'Gergana Dimitrova': 77.30459236035075, 'Haiping Sun': 42.8485705712571, 'Haruka Kanamori': 89.8443097808648, 'Haruka Maruo': 201.79692762775156, 'Hend Farag': 137.9130160644745, 'Humay Topaloglu': 167.1227094083865, 'Icel Nadim': 285.6763903440395, 'Ilaria Bonvicini': 302.1489698807527, 'Iveta Stanchulova': 82.13403679352427, 'Jailan Tawfik': 279.17557199726485, 'Janeth Alejandra Vargas Guevara': 149.57272478630588, 'Jelena Vignjevic': 226.11501498131432, 'Jiayi Huang': 125.58264211267415, 'Jovana Kocic': 81.20344820264715, 'Kaori Mabashi': 67.01492371106603, 'Karina Angelica Flores Gamez': 51.96152422706632, 'Karoline Tormena': 101.74969287422935, 'Katarina Lazovic': 88.17028978062848, 'Katarina Marinkovic': 223.61797781037194, 'Katherine Regalado': 143.15027069481914, 'Kathya Paulina Garcia Chavez': 105.03332804400706, 'Kitania Medina Torres': 105.42770034483347, 'Kitzia Adonay Corrales Hernandez': 437.4962856985188, 'Kristiana Petrova': 78.98734075787081, 'Kristina Kurnosova': 43.57751713900185, 'Lais Vasques': 106.15083607772479, 'Laiza Ferreira': 188.51259904844557, 'Lana Conceição': 51.633322573702344, 'Laura Beatriz Suarez Hernandez': 44.06812907306141, 'Leslie Angélica Lopez Flores': 163.5817838269286, 'Liset Herrera Blanco': 107.68936809174804, 'Lorenne Geraldo Teixeira': 51.633322573702344, 'Lyara Medeiros': 195.72174125528312, 'Maguilaura Frias': 286.0, 'Mai Moustafa': 44.721359549995796, 'Maiara Basso': 198.44394674567425, 'Maja Aleksic': 84.4866853415377, 'Malak Badawy': 43.62338822237447, 'Maria Elena Aguilera': 122.0409767250328, 'Maria Fernanda Rodriguez Gomez': 94.30270409696638, 'Mariam Ebrahim': 54.644304369257, 'Marija Vujnovic': 232.66929320389488, 'Mayar Mohamed': 127.14558584551806, 'Melis Yilmaz': 311.22499899590326, 'Milena Dimic': 241.0684550081159, 'Mingyuan Hu': 258.3989164063967, 'Mirela Shahpazova': 82.30431337420902, 'Miriam Arleth Bojorquez Ruiz': 280.49242414011826, 'Miroslava Paskova': 76.13803254615921, 'Misaki Shirai': 199.04019694524018, 'Mitzy Natalia Gonzalez Guzman': 164.10667262485094, 'Mizuki Yanagita': 204.55317157159897, 'Moeri Hanai': 96.8607247546703, 'Montserrat Castro Narvaez': 108.17116066678771, 'Nair Canessa': 281.6043323530375, 'Nanami Hirose': 197.17758493297356, 'Nicole Abreu Erquinigo': 142.40435386602476, 'Nourallah Amin': 272.75813461746657, 'Paola Ogechi Egonu': 162.48692255070867, 'Polina Neykova': 212.84031572989173, 'Qian Zhang': 262.58332011001767, 'Qingqing Du': 38.97435053981015, 'Radostina Marinova': 81.27115109311545, 'Rahma Almohandes': 47.20169488482379, 'Rania Ashmawy': 49.416596402423345, 'Rida Erlalelitepe': 307.6166445431716, 'Rosa Valiente': 24.55605831561735, 'Sabina Gilfanova': 183.85048272985307, 'Salma Mahmoud': 48.815980989835694, 'Sara Bonifacio': 22.06807649071391, 'Sara Lozo': 69.0724257573165, 'Sara Vucicevic': 89.37561188601732, 'Shiamara Almeida': 286.00174824640493, 'Shino Nakata': 68.1395626636978, 'Simona Nikolova': 80.820789404707, 'Slavena Nikova': 71.84705978674423, "Sofia D'odorico": 151.39022425506872, 'Sonia Beatriz Romero Espinosa': 35.90264614203248, 'Su Zent': 171.612936575306, 'Svetlana Serbina': 35.12833614050059, 'Tatiana Iurinskaia': 108.22199406774946, 'Thais Oliveira': 67.67569726275453, 'Vangeliya Rachkovska': 80.19975062305369, 'Victoria Zhurbenko': 177.3809459891338, 'Wanqianbai Rong': 37.094473981982816, 'Xiangyu Gong': 35.888716889852724, 'Xinyi Zhou': 267.3892294016346, 'Yagmur Mislina Kilic': 312.63397128271265, 'Yasmin Hussein': 168.55859515313955, 'Ye Jin': 260.5551764981844, 'Yi Yang': 268.3561066940717, 'Yomira Villacorta': 159.4114174079134, 'Yuanyuan Wang': 123.50303639992015, 'Yuka Kitsui': 62.10475022089695, 'Yuka Onodera': 205.813021939818, 'Yurika Kono': 61.180062111769715, 'Zehra Gunes': 169.67910890855126, 'Zhana Todorova': 96.44687656943589, 'Zixuan Meng': 117.957619508025}

In [43]:
sorted_dict = dict( sorted(dictionary.items(),
                           key=lambda item: item[1],
                           reverse=False))

dict_items = sorted_dict.items()

five_most_similar = list(dict_items)[:10]
for key,value in five_most_similar:
  print(key , value)

Angela Leyva 0.0
Coraima Gomez 14.628738838327793
Sara Bonifacio 22.06807649071391
Rosa Valiente 24.55605831561735
Cemre Janset Erkul 28.809720581775867
Beatrice Berti 28.948229652260256
Elisa Zanette 29.393876913398138
Cansu Ozbay 33.36165463522455
Svetlana Serbina 35.12833614050059
Xiangyu Gong 35.888716889852724